default: &default
  api_host: "https://openapi.alipaydev.com"
  app_id: "xx"
  app_private_key: "xxx"
  alipay_public_key: "xxx"

development:
  <<: *default
  api_host: "https://openapi.alipaydev.com"

staging:
  <<: *default

production:
  <<: *default