upstream rails_ott_unicorn {
  server unix:/tmp/unicorn.rails_ott.sock fail_timeout=0;
}

server {
  listen 80;# default deferred;
  server_name test.work.99zmall.com;

  root /home/ishanggang_dev/go/src/rails_ott/current/public;

  # individual nginx logs for vhost
  access_log  /var/log/nginx/nazgrel_qa_access.log;
  error_log   /var/log/nginx/nazgrel_qa_error.log;

  gzip on;
  gzip_min_length 1k;
  gzip_buffers 4 16k;
  #gzip_http_version 1.0;
  gzip_comp_level 2;
  # gzip_types text/plain application/x-javascript text/css application/xml text/javascript application/x-httpd-php image/jpeg image/gif image/png;
  gzip_types      text/plain application/xml;
  gzip_vary off;
  gzip_disable "MSIE [1-6]\.";

  location ^~ /assets/ {
    gzip_static on;
    expires max;
    add_header Cache-Control public;
  }

  try_files $uri/index.html $uri @unicorn;

  location @unicorn {
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Real-IP $proxy_protocol_addr;
    # proxy_set_header X-Forwarded-Ssl on;
    proxy_redirect off;
    proxy_pass http://rails_ott_unicorn;
  }

  error_page 500 502 503 504 /500.html;
  client_max_body_size 4G;
  keepalive_timeout 10;
}

# include /etc/nginx/conf.d/*.conf;
# sudo ln -nfs /home/ishanggang_dev/go/src/rails_ott/shared/config/nginx.conf /etc/nginx/conf.d/rails_ott.conf
# sudo /etc/init.d/nginx reload