# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 034451078e76d38d54c91ff86b317bffcc4f813a6a0c9302711e9a57736634e1811c43d3e0c7c096672f999d7474bd27f9e2219603a4d520a3187892831e64f7

test:
  secret_key_base: 3c1e59d7ebeceec52f31c9b5c45fcc6e964d6697babfaed5711032ea385b2cbf24804e1714f1b5d04db048b31a56e8bcaae03cb4cf79edd96a2273027fecfa95

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: 4d1e99d7ebeceec52f31c9b5c45fcc6e964d6697babfaed5711032ea385b2cbf24804e1714f1b5d04db048b31a56e8bcaae03cb4cf79edd96a2273027fecfa95
